body {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  body {
    margin-left: 25%;
    margin-right: 25%;
    font: 16px sans-serif;
  }
.game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
  }
.game {
    width: 1000px;
    height: 600px;
    position: relative;
    border: 2px solid black;
  }